<h1>Password token for <%= @user.name %></h1>
<p>
    Hi <%= @user.name %>
</p>
  <p>
    Please use this token, to reset your password: <%= @user.reset_password_token %><br>
  </p>
<p>Best Regards,</p>

<p>Funniq Support team</p>