# app/views/user_mailer/welcome_email.text.erb
Welcome to example.com, <%= @user.name %>
===============================================
You have successfully signed up to example.com,
your username is: <%= @user.name %>.
Thanks for joining and have a great day!