# app/views/user_mailer/welcome_email.html.erb
<h1>Welcome to example.com, <%= @user.name %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>