<h1>Hi from funniq, <%= @user.name %></h1>
  <p>
    your article has been disabled due to high number of reports <strong><%= @article.header %></strong>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>